* {
  box-sizing: border-box;
}

body {
  background-color: #263238;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

img {
  max-width: 100%;
}

.drawer-header {
  background-color: #37474f;
  padding: 1.75em;
  font-size: 12pt;
}
